*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    width: 1320px;
}

header{
    position: fixed;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 25px;
}

.navbar{
    display:  flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: black;
    height: 60px;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;
}


.navlogo{
    background-image: url(logo.jpg);
    height: 55px;
    width: 45vw;
    background-size: cover;
    border: 2px solid black;
    
}

.nav-search{
    display: flex;
    justify-content: space-evenly;
}
.search-input {
    width: 450px;
    height: 40px;
}
button{
    text-align: center;
    width: 25px;
}
#select{
    width: 45px;

}
#lang {
    width: 70px;
}

.navlogo:hover {
    border: 2px solid blue;
}
.nav-search:hover{
    border: 2px solid blue;
}
#ap{
    color: white;
    text-decoration: none;
}
#cp{
    color: white;
    text-decoration: none;
}
#gal{
    color: white;
    text-decoration: none;
}
#services{
    color: white;
    text-decoration: none;
}
#select:hover{
    border: 2px dotted blue;
}
#ap:hover{
    border: 2px dotted blue;
}
#cp:hover {
    border: 2px dotted blue;
}
#gal:hover{
    border: 2px dotted blue;
}
#services:hover{
    border: 2px dotted blue;
}
#mp {
    padding-top: 80px;
    width: 100vw;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}
#mp2 {
    width: 100vw;
    margin-top: 25px;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

ol{
    list-style-type: decimal;
    margin-left: 25px;
    
}

#mimg {
    background-image: url(image2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 600px;
    background-size: cover;
    display: inline-block;
    margin-right: 45px;
    
}
#mimg2 {
    background-image: url(mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 600px;
    background-size: cover;
    display: inline-block;
    margin-left: 45px;

}


footer{
    width: 100vw;
    margin: 0px;
    padding-top: 0%;
    text-decoration: none;

}

.footpannel1{
    width: 100vw;
    background-color: black;
    color: white;
    height: 50px;
    display: flex;
    justify-content: end;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
}
.footpannel2{
    width: 100vw;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    
}
.foot3{
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    justify-content: left;
}
#fot{
    width: 100vw;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

#aboutinfo {
    list-style-type: square;
    margin: 20px;
}

#bar{
    align-items: center;
    position: fixed;
    height: 60px;
    width: 100vw;
    background-color: black;
    color: white;
    align-content: center;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
}
#A1{
    text-decoration: none;
    color: white;
}
#A2{
    text-decoration: none;
    color: white;
}
#A3{
    text-decoration: none;
    color: white;
}
#A4{
    text-decoration: none;
    color: white;
}
#A5{
    text-decoration: none;
    color: white;
}
#aboutinfo{
    padding-bottom: 0px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    
}
#ai{
    padding-top: 80px;
}
 
#gal1{
    margin-top: 80px;
    height: 325px;
    width: 500px;

}
#gal2{
    height: 300px;
    width: 500px;
    
}
#gal3{
    height: 300px;
    width: 500px;
    
}
#gal4{
    height: 300px;
    width: 500px;
    
}
#gal5{
    height: 300px;
    width: 500px;
    
}
#gal6{
    height: 300px;
    width: 500px;    
}

form{
    padding-bottom: 250px;
}
table{
    width: 500px;
    padding-top: 90px;
    
}

input{
    width: 500px;
}
tr{
    border: 2px solid black;
}
td{
    border: 2px solid black;

}
#save{
    width: 70px;
}
#page5{
    padding-top: 80px;
    margin-right: 25px;
}
